* {
  margin: 0;
  padding: 0;
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
}


.login_container {
  color: white;
  letter-spacing: 2px;
  margin: 10% auto;
  width: 25%;
  padding: 50px;
  border: 5px solid white;
  border-radius: 5px;
  text-align: center;
}

.redirect_link {
  margin-top: 20px;
}

.portfolio_container {
  color: white;
}

h1 {
  color: white;
}

/* Start of Porfolio */
.portfolio_split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  text-align: center;
}

.buying {
  border-left: 1px solid white;
  margin-top: 20%;
}

.buying_form {
  width: 40%;
  margin: 0 auto;
  padding: 50px;
}

.buying_form input {
  margin-top: 10%;
}

.owned {
  /* border-right: 1px solid white; */
  margin: 0 auto;
  margin-top: 5%;
}

/* End of Porfolio */

.stock_row_container {
  margin-top: 25%;
}
.stock_row {
  display: flex;
  margin-top: 5%;
  border-bottom: 1px solid white;
}

.stock_row h3 {
  margin: 5%;
}
