* {
  margin: 0;
  padding: 0;
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
}


.login_container {
  color: white;
  letter-spacing: 2px;
  margin: 10% auto;
  width: 25%;
  padding: 50px;
  border: 5px solid white;
  border-radius: 5px;
  text-align: center;
}

.redirect_link {
  margin-top: 20px;
}

.portfolio_container {
  color: white;
}

h1 {
  color: white;
}

/* Start of Porfolio */
.wrapper {
  grid-template-rows: 1fr 24fr;
}

.portfolio_split {
  display: grid;
  grid-template-columns: 5fr 4fr;
  height: 100vh;
  text-align: center;
}

.buying {
  border-left: 1px solid white;
  margin-top: 20%;
}

.buying_form {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  margin-left: 36%;
}

.balance {
  margin-left: 40%;
}

.buying_form input {
  margin-top: 10%;
}

.owned {
  margin-top: 5%;
}

/* End of Porfolio */

.stock_row_container {
  margin-top: 5%;
}
.stock_row {
  display: flex;
  border-bottom: 1px solid white;
}

.stock_row h3 {
  width: 225px;
  padding: 20px;
}

/* Start of navbar */
.navbar_container {
  color: white;
  list-style: none;
  display: flex;
}

.navbar_container li {
  padding: 20px;
  font-size: 14px;
}

.nav {
  float: right;
  height: 500px;
}
/* End of navbar */
